
animation()
    -khtml-animation arguments
    -moz-animation arguments
    -webkit-animation arguments
    animation arguments

box-shadow()
    -moz-box-shadow arguments
    -khtml-box-shadow arguments
    -webkit-box-shadow arguments
    box-shadow arguments


